flow/flows.json
[{"id":"75bb04c6.0c950c","type":"tab","label":"jenkinks-one-spa","disabled":false,"info":""},{"id":"1ff4f5b5.678eca","type":"tab","label":"jenkins - commn","disabled":false,"info":""},{"id":"986c62ef.83782","type":"http request","z":"75bb04c6.0c950c","d":true,"name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://jenkins.qieyisheng.com/{{{action}}}api/json?{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1000,"y":220,"wires":[[]]},{"id":"3616ec49.d4b1f4","type":"function","z":"75bb04c6.0c950c","name":"docker-node-one-spa","func":"\nmsg.payload = {\n    branch: \"master\"\n}\n\nmsg.job = 'docker-node-one-spa';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["a7df13bf.5fcd"]]},{"id":"e11bcd26.35eb8","type":"inject","z":"75bb04c6.0c950c","name":"开始","props":[{"p":"payload"},{"p":"BuildEnv","v":"dev","vt":"str"},{"p":"branch","v":"master","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":240,"wires":[["3616ec49.d4b1f4","d1bbf7f4.d24b18"]]},{"id":"64da2245.4d627c","type":"debug","z":"75bb04c6.0c950c","name":"deubg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":990,"y":300,"wires":[]},{"id":"d1bbf7f4.d24b18","type":"function","z":"75bb04c6.0c950c","name":"one-spa-web","func":"msg.payload = {\n    branch: \"master\"\n}\n\nmsg.job = 'docker-node-one-spa-web';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["a7df13bf.5fcd"]]},{"id":"a7df13bf.5fcd","type":"function","z":"75bb04c6.0c950c","name":"change action to url","func":"const action = `job/${msg.job}/buildWithParameters/`;\n\nconst {BuildEnv, branch} = msg;\nconst parameter = {BuildEnv, branch};\n\nconst payload = Object.keys(parameter).reduce((pre, cur)=> {\n    return [...pre, `${cur}=${parameter[cur]}`]\n}, []).join('&');\n\n// return msg;\nreturn {\n    action,\n    payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["64da2245.4d627c","986c62ef.83782"]]},{"id":"66e209d4.49a7f8","type":"http request","z":"1ff4f5b5.678eca","d":true,"name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://jenkins.qieyisheng.com/{{{action}}}api/json?{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":840,"y":340,"wires":[[]]},{"id":"80728c23.f28f1","type":"function","z":"1ff4f5b5.678eca","name":"项目配置","func":"\n\n// msg.payload = msg.payload || {};\n\nmsg.payload['one-spa-console'] = 'branch=master'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["c823cf49.999bb"]]},{"id":"a89b8faf.849c4","type":"inject","z":"1ff4f5b5.678eca","name":"开始","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":90,"y":140,"wires":[["80728c23.f28f1"]]},{"id":"18ab48fc.7cb1e7","type":"debug","z":"1ff4f5b5.678eca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"c823cf49.999bb","type":"function","z":"1ff4f5b5.678eca","name":"change action to url","func":"msg.action = `job/${msg.action}/buildWithParamters/`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[["18ab48fc.7cb1e7","66e209d4.49a7f8"]]}]